# Text Preprocessing

In [35]:
import pandas as pd
import re

In [45]:
df = pd.read_csv('movies_reviews_NLP-dataset')
df.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [24]:
df = df[['overview']]

In [28]:
df

                                               overview
0     After reuniting with Gwen Stacy, Brooklyn’s fu...
1     Spanning the years 1945 to 1955, a chronicle o...
2     Framed in the 1940s for the double murder of h...
3     In the continuing saga of the Corleone crime f...
4     Raj is a rich, carefree, happy-go-lucky second...
...                                                 ...
9975  A small business owner is about to lose her sh...
9976  Wren is invited to a Halloween party by her cr...
9977  On her deathbed, a mother makes her son promis...
9978  Based on the true events of the only case in U...
9979  Jack Gladney, professor of Hitler studies at T...

[9980 rows x 1 columns]

## Lower Casing

In [34]:
df=df['overview'].str.lower()

## Removing HLTM Tages

In [ ]:
def remove_HTML_tages(text):