> # Tf-Idf

In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
dic = {
    'text': ['I love deeplearning','deeplearning love me','I hate computervision ','NLP dont do anything','I love love love deeplearning'],
    'output': [1,1,0,0,1]
}

In [3]:
df= pd.DataFrame(data=dic)

In [4]:
df

                            text  output
0            I love deeplearning       1
1           deeplearning love me       1
2         I hate computervision        0
3           NLP dont do anything       0
4  I love love love deeplearning       1

In [6]:
tfidf = TfidfVectorizer()

In [8]:
txt =tfidf.fit_transform(df['text'])

In [9]:
txt.toarray()

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.70710678, 0.        , 0.        ],
       [0.        , 0.        , 0.48624042, 0.        , 0.        ,
        0.        , 0.48624042, 0.72604443, 0.        ],
       [0.        , 0.70710678, 0.        , 0.        , 0.        ,
        0.70710678, 0.        , 0.        , 0.        ],
       [0.5       , 0.        , 0.        , 0.5       , 0.5       ,
        0.        , 0.        , 0.        , 0.5       ],
       [0.        , 0.        , 0.31622777, 0.        , 0.        ,
        0.        , 0.9486833 , 0.        , 0.        ]])

In [15]:
print(tfidf.idf_[0])
print(tfidf.get_feature_names_out())

2.09861228866811
9

In [22]:
for i in range(0,9):
    print(tfidf.idf_[i],end=" - ")
    print(tfidf.get_feature_names_out()[i])

2.09861228866811 - anything
2.09861228866811 - computervision
1.4054651081081644 - deeplearning
2.09861228866811 - do
2.09861228866811 - dont
2.09861228866811 - hate
1.4054651081081644 - love
2.09861228866811 - me
2.09861228866811 - nlp