In [1]:
print('function')

function

In [2]:
def func():
    print('hello this is my first function')

In [3]:
type(func())

hello this is my first function

NoneType

In [4]:
# func() + str('Yes')

In [5]:
def func1():
    return 'hello this is my first return'

In [6]:
type(func1())

str

In [7]:
def func2():
    return 34

In [8]:
type(func2())

int

In [9]:
func2() +4

38

In [10]:
def matrix(a,b):
    return set(a+b)

In [11]:
matrix([1,2,3],[4,5,6])

{1, 2, 3, 4, 5, 6}

In [12]:
def int_value(ls):
    lss = []
    for i in ls:
        if type(i) == int:
            lss.append(i)
    return lss

In [13]:
l1 = [2,3,4,'34','hello',[1,2,3,4,523,23,43]]

In [14]:
int_value(l1)

[2, 3, 4]

In [15]:
# this does not return same values...

def list_underlist(a):
    lst = []
    for i in a:
        if type(i) == list:
            for j in i:
                lst.append(j)
            else:
                if type(i) == int :
                    lst.append(i)
    return lst

In [16]:
list_underlist(l1)

[1, 2, 3, 4, 523, 23, 43]

In [17]:
# this does return same values...

def list_underlist_same(a):
    lst = []
    for i in a:
        if type(i) == list:
            for j in i:
                lst.append(j)
        else:
            if type(i) == int :
                lst.append(i)
    return lst

In [18]:
list_underlist_same(l1)

[2, 3, 4, 1, 2, 3, 4, 523, 23, 43]

## For docString we use """" write something  """

In [19]:

def list_underlist_same(a):
    """ this does return same values... """
    lst = []
    for i in a:
        if type(i) == list:
            for j in i:
                lst.append(j)
        else:
            if type(i) == int :
                lst.append(i)
    return lst

In [20]:
list_underlist_same()

TypeError: list_underlist_same() missing 1 required positional argument: 'a'

### TO Pass n number of arguments we write like this

In [23]:
def n_Number(*args,a):
    return args+a

In [24]:
n_Number(1,a = 3)

TypeError: can only concatenate tuple (not "int") to tuple

In [72]:
for i in 10:
    print()

TypeError: 'int' object is not iterable

In [73]:
# num = int(input())
def table(num,start,end):
    for i in range(start,end):
        print(num,'x',i,'=',num*i)

In [67]:
i = 1
def table_while(num,end):
    while i <= end:
        print(num,'x',i,'=',num*1)
        i += 1

In [69]:
table_while(1,3)

UnboundLocalError: local variable 'i' referenced before assignment

In [51]:
table(4,1,20)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76

In [71]:
table(2,1,31)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40
2 x 21 = 42
2 x 22 = 44
2 x 23 = 46
2 x 24 = 48
2 x 25 = 50
2 x 26 = 52
2 x 27 = 54
2 x 28 = 56
2 x 29 = 58
2 x 30 = 60

In [40]:
2 x 1 = 2

SyntaxError: invalid syntax (3077782314.py, line 1)

# Generator Function

In [ ]:
In Generator function we must have to have a for loop to print that statement otherwise our statement will not be printed

In [3]:
def tables(num,start,end):
    for i in range(start,end):
        yield num,'x',i,'=',num*i

In [6]:
for i in tables(2,1,11):
    print(i)

(2, 'x', 1, '=', 2)
(2, 'x', 2, '=', 4)
(2, 'x', 3, '=', 6)
(2, 'x', 4, '=', 8)
(2, 'x', 5, '=', 10)
(2, 'x', 6, '=', 12)
(2, 'x', 7, '=', 14)
(2, 'x', 8, '=', 16)
(2, 'x', 9, '=', 18)
(2, 'x', 10, '=', 20)

In [26]:
def fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b, a+b

In [27]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [28]:
def table(a):
    for i in range(1,11):
        print

In [29]:
type(fib(3))

generator

Iterable and iterator 
string is iterable
int is not iterable
jo iterable hai usi ko iterator me convert kr skte h

So hm string ko hii iterator me convert kr skte h.

iter() function is used to make string iterable

## Lambda function

In [8]:
def square(num,power):
    return num**power

In [11]:
square(2,4)

16

### square function using lambda function

In [12]:
square_lambda = lambda num,power : num**power

In [13]:
square_lambda(2,4)

16

In [16]:
def finding_max(x,y):
    if x > y:
        print(x)
    else: print(y)

In [19]:
finding_max(5,3)

5

In [26]:
finding_maxlambda = lambda x,y:xif x>y else print(y)

In [27]:
finding_maxlambda(34,65)

65

In [46]:
ls = [1,2,3,4,5,6,7,8,9,10]

In [17]:
def sqr(a):
    ls1 = []
    for i in a:
        ls1.append(i**2)
    return ls1

In [18]:
sqr(ls)

[1, 4, 9, 16, 25, 36, 49, 64]

## Map function
### jb hm kissi list pe koii action perform krte h tb instead of using this code 
def sqr(a):
    ls1 = []
    for i in a:
        ls1.append(i**2)
    return ls1
### we can simply

In [22]:
def sqr_map(b):
    return b**2

In [24]:
list(map(sqr_map,ls))

[1, 4, 9, 16, 25, 36, 49, 64]

In [25]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [36]:
def sum_list(list1,list2):
    return (list1+list2)

In [37]:
list(map(sum_list,l1,l2))

[7, 9, 11, 13, 15]

### Reduce function
 reduce function reduces the complete list and give a single entity

In [47]:
sum(ls)

55

In [39]:
from functools import reduce

In [40]:
def sums(ls3,ls4):
    return ls3+ls4

In [48]:
reduce(sums,ls)

55

In [50]:
ls = [1,2,3,4,5,6,7,8,9,10]
def sqares(a):
    return a**2
list(map(sqares,ls))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
nums = [1,2,3,4,5]
product = reduce(lambda x,y:x*y,nums)
print(product)

120